In [6]:
var = input("")

if len(var) <= 10:
    print(var)
else:
    first = var[0]
    last = var[-1]
    middle = len(var[1:-1])
    print(f"{first}{middle}{last}")

5

In [7]:
var = input("")

try:
    check = int(var)
    print("")
except:
    if len(var) <= 10:
        print(var)
    else:
        first = var[0]
        last = var[-1]
        middle = len(var[1:-1])
        print(f"{first}{middle}{last}")

In [8]:
n = int(input())

if (1 <= n) and (n <=20):
    for i in range(0, n):
        print (i**2)

0
1
4
9
16

In [11]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(1, n+1):
        print(i, end="")

12345

In [21]:
def split_and_join(line):
    words = line.split(" ")
    return "-".join(words)

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

Apurba-Halder-Sunca

In [26]:
#
# Complete the 'print_full_name' function below.
#
# The function is expected to return a STRING.
# The function accepts following parameters:
#  1. STRING first
#  2. STRING last
#

def print_full_name(first, last):
    if (len(first) <= 10) and (len(last) <= 10):
        print("Hello", first, last, end="" "! You just delved into python.")


if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

Hello Apurba Halder! You just delved into python.

In [ ]:
s = "Apurba"
s[:2] + "d" + s[3:]
a, i = input().split()
print( a, i)

ValueError: not enough values to unpack (expected 2, got 1)

In [4]:
n = int(input())

if 1 <= n <= 1000:
    
    sum = 0
    for i in range(n):
        P , V , T = input().split()
        
        x = int(P)
        y = int(V)
        z = int(T)
        
        if x + y + z >= 2:
            sum += 1
    
    print(sum)

2

In [ ]:
i = 1

while i < 6:
    
    i += 1
    
    if i == 3:
        break
    
    print(i)

2

In [11]:
i = 0

while i < 6:
    
    i += 1
    
    if i == 3:
        continue
    
    print(i)

1
2
4
5
6

In [1]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))


num_str = int(num_str)
num_sum = num_int + num_str


print("Data type of num_str after Type Casting:",type(num_str))
print("Sum of num_int and num_str:",num_sum)

print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [4]:
a = 5
b = 100

c = a
a = b
b = c

print(a,b)

100 5

In [8]:
a = 67
b = 100

a,b = b,a
print(a,b)

100 67

In [ ]:
val1 = 3
val2 = 2

print(val1 + val2)
print(val1 - val2)
print(val1 * val2)
print(val1 / val2)
print(val1 // val2)     # Division without Decimal Point / Floor Division
print(val1 % val2)      # Modulus
print(val1 ** val2)     # Exponential

5
1
6
1.5
1
1
9

In [10]:
print(10+3*2**2+45)

67

In [11]:
num = 3

match num:
    
    # pattern 1
    case 1:
        print("One")
    
    # pattern 2
    case 2:
        print("Two")
    
    # pattern 3
    case 3:
        print("Three")
    
    # default pattern
    case _:
        print("Number not between 1 and 3")

Three

In [12]:
a = 9
b = 5

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [13]:
a = 10
b = 10
c = -10

if a > 0 and b > 0:
    print("The numbers are greater than 0")
    
    
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

In [14]:
a = 10
b = -10
c = 0

if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")
    
    
if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [15]:
a = 10

if not (a%3 == 0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

In [17]:
n = int(input())
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1
    
print(sum)

55

In [ ]:
sum = 0

while True:
    num = input("Enter a Number: ")
    if num == "quit":
        break
    try:
        num = int(num)
    except:
        print("Enter a valid number please.")
        continue
    sum = sum + num
    print(sum)

5
10
14
17
19
22
26

In [21]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    
    if x == "banana":
        break

apple
banana

In [22]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [23]:
num = [30, 10, 70, 12]

for i, x in enumerate(num):
    print(i, x)

0 30
1 10
2 70
3 12

In [24]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry