In [130]:
import math


x = 2.9

print(math.ceil(x))
print(math.floor(x))

3
2

In [131]:
import calendar as c

year = 2025

print(c.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [132]:
a = 10
b = 8

if a > b:
    print('A ({}) is greater than B ({})'.format(a, b))

elif a == b:
    print('A ({}) and B ({}) is equal.'.format(a, b))

else:
    print('B ({}) is greater than A ({})'.format(b, a))

A (10) is greater than B (8)

In [133]:
a = 10
b = 8


print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [134]:
a = 10
b = 5
c = 7


if a > b and a > c:
    print('A is great')

elif b > a and b > c:
    print('B is great')

else:
    print('C is great')

A is great

In [135]:
x = 6
x = x + 10
x

16

In [136]:
x = 1j
print(type(x))
print(x.real)
print(x.imag)
print(a)

<class 'complex'>
0.0
1.0
10

In [137]:
for i in range(5):
    print("Apurba")

Apurba
Apurba
Apurba
Apurba
Apurba

In [138]:
i = 1

while i <= 5:
    print("Apurba")
    i += 1

Apurba
Apurba
Apurba
Apurba
Apurba

In [139]:
count = 0

while count < 9:
    print('The count is:', count)
    count += 1

print('Good Bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good Bye!

In [140]:
for i in range(9):
    print('The count is:', i)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [141]:
sum = 0

for i in range(11):
    sum = sum + i
    i += 1

print(sum)

55

In [142]:
sum = 0
i = 1

while i <= 10:
    sum = sum + i
    i = i + 2

print(sum)

25

In [143]:
sum = 0

for i in range(1, 11, 2):
    sum = sum + i

print(sum)

25

In [144]:
for i in range(1,7):
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [145]:
i = 0

while i < 6:

    i = i + 1

    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [146]:
sum = 0

while True:

    num = input("Enter a valid Number: ")

    if num == 'quit':
        break


    try:
        num = int(num)

    except:
        print("The number is not valid")
        continue


    sum = sum + num
    print('Addition: ', sum)

Addition:  500
Addition:  700
Addition:  1000
The number is not valid
The number is not valid
Addition:  1400
Addition:  1500

In [152]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [163]:
fruits = ["Apple", "Banana", "Cherry"]

for i in fruits:
    print("\n")
    for j in i:
        print(j, end=" + ")

A + p + p + l + e +

B + a + n + a + n + a +

C + h + e + r + r + y +

In [160]:
print("Apurba", end=" ")
print("Halder")

Apurba Halder

In [166]:
print("Apurba", "Tanzim", "Leon", "Tahjib", sep=" , ")

Apurba , Tanzim , Leon , Tahjib

In [167]:
fruits = ["Apple", "Banana", "Cherry"]


for x in fruits:
    print(x)
    if x == "Banana":
        break

Apple
Banana

In [170]:
fruits = ["Apple", "Banana", "Cherry"]

for x in fruits:
    if x == "Banana":
        continue
    print(x)

Apple
Cherry

In [176]:
for i in range(2, 30, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [177]:
num = [10, 12, 30, 50]

for i, x in enumerate(num):
    print(i, x)

0 10
1 12
2 30
3 50