In [33]:
a = [10,20,30,40,50]
print(type(a))

<class 'list'>

In [34]:
len(a)

5

In [35]:
list1 = [5, "banana", "cherry", "mango", "orange"]

# print(list1 + ["tomato", 50])
print(list1 * 3)
# print(list1)

[5, 'banana', 'cherry', 'mango', 'orange', 5, 'banana', 'cherry', 'mango', 'orange', 5, 'banana', 'cherry', 'mango', 'orange']

In [36]:
import numpy as np


a = np.array([5,2,3,4,5,6])
print(a * 5)

[25 10 15 20 25 30]

In [37]:
list1 = ["apple", "banana", "cherry", "mango", "orange"]
list1[0] = "tomato"
print(list1)

['tomato', 'banana', 'cherry', 'mango', 'orange']

In [38]:
list1.append("Apurba")
list1

['tomato', 'banana', 'cherry', 'mango', 'orange', 'Apurba']

In [39]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [40]:
fruits = ["cherry", "apple", "banana", "cherry"]

x = fruits.count("cherry")
print(x)

2

In [41]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [42]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.append(cars)
print(fruits)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [43]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [44]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [45]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [46]:
fruits = ['apple', 'banana', 'cherry', 'banana']

fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [47]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [48]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [49]:
A = [   [1, 4, 5, 12],
        [-5, 8, 9, 0],
        [-6, 7, 11, 19]
    ]


column = []

for row in A:
    column.append(row[2])

print(column)

[5, 9, 11]

In [50]:
thistuple = (["apple", "banana", "cherry"])

print(thistuple)

['apple', 'banana', 'cherry']

In [51]:
 fruits = ("apple", "banana", "cherry")
 green, yellow, red = fruits


 print(green)
 print(yellow)
 print(red)

apple
banana
cherry

In [52]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

*red = fruits
print(red)

SyntaxError: starred assignment target must be in a list or tuple (1049526485.py, line 3)

In [ ]:
a=(8,8,9)
b=(8,8)

if a > b:
    print("a is bigger")

else: 
    print("b is bigger")

a is bigger

In [ ]:
s = {1,5,2,2,1,9,3}

print(s)

{1, 2, 3, 5, 9}

In [ ]:
a ={1, 2, 3, 4, 5}
b ={4, 5, 6, 7}


print(a | b)   #union
print(a & b)   #intersection
print(b - a)   #difference

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{6, 7}

In [ ]:
print(list(a))

[1, 2, 3, 4, 5]

In [53]:
a = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "colors": ["red", "white", "blue"]
 }

In [54]:
print(a.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('colors', ['red', 'white', 'blue'])])

In [55]:
print(a.keys())

dict_keys(['brand', 'model', 'year', 'colors'])

In [56]:

print(a.values())

dict_values(['Ford', 'Mustang', 1964, ['red', 'white', 'blue']])

In [59]:
for x, y in a.items():
    print(x, y)

brand Ford
model Mustang
year 1964
colors ['red', 'white', 'blue']

In [1]:
text = "The banana is common fruit of Bangladesh. It is grown in all the districts and all the seasons. Munsigonj and Narsingdi are famous for banana . banana has several varieties such as Sagore, Shabri, Chapa, Agniswar etc. It is very nutritious and  sweet.Papaw is a delicious fruit.It keeps the liver function active. The papaw is grown in all the districts and in all seasons. The coconut is a common fruit of Bangladesh. It grows in all seasons. Its water is a sweet drink and its kernel is a tasty food. The mango , the orange , the lichi , the black-berry , the jack fruits, the pineapple etc. grow in different seasons."

fruits = ["banana", "Papaw", "coconut", "black-berry", 
"pineapple", "lichi", "orange", "mango"]

In [2]:
text = text.split(" ")
text

['The',
 'banana',
 'is',
 'common',
 'fruit',
 'of',
 'Bangladesh.',
 'It',
 'is',
 'grown',
 'in',
 'all',
 'the',
 'districts',
 'and',
 'all',
 'the',
 'seasons.',
 'Munsigonj',
 'and',
 'Narsingdi',
 'are',
 'famous',
 'for',
 'banana',
 '.',
 'banana',
 'has',
 'several',
 'varieties',
 'such',
 'as',
 'Sagore,',
 'Shabri,',
 'Chapa,',
 'Agniswar',
 'etc.',
 'It',
 'is',
 'very',
 'nutritious',
 'and',
 '',
 'sweet.Papaw',
 'is',
 'a',
 'delicious',
 'fruit.It',
 'keeps',
 'the',
 'liver',
 'function',
 'active.',
 'The',
 'papaw',
 'is',
 'grown',
 'in',
 'all',
 'the',
 'districts',
 'and',
 'in',
 'all',
 'seasons.',
 'The',
 'coconut',
 'is',
 'a',
 'common',
 'fruit',
 'of',
 'Bangladesh.',
 'It',
 'grows',
 'in',
 'all',
 'seasons.',
 'Its',
 'water',
 'is',
 'a',
 'sweet',
 'drink',
 'and',
 'its',
 'kernel',
 'is',
 'a',
 'tasty',
 'food.',
 'The',
 'mango',
 ',',
 'the',
 'orange',
 ',',
 'the',
 'lichi',
 ',',
 'the',
 'black-berry',
 ',',
 'the',
 'jack',
 'fruits,',
 'the',
 'pineapple',
 'etc.',
 'grow',
 'in',
 'different',
 'seasons.']

In [10]:
fruitList = []

for x in text:
    if x in fruits:
        fruitList.append(x)

(print(len(fruitList)))

9

In [8]:
s = set(fruitList)
print(s)

{'lichi', 'mango', 'pineapple', 'banana', 'black-berry', 'coconut', 'orange'}

In [5]:
len(s)

7

In [18]:
def a():
    print("my name is apurba")

a()

my name is apurba

In [22]:
def a(x):
    print(f"Good morning! {x}")


a("Emil")
a("Tobias")
a("Linus")

Good morning! Emil
Good morning! Tobias
Good morning! Linus

In [25]:
def my_function(*fname, lname):
    print(  lname)

my_function("Refsnes")

TypeError: my_function() missing 1 required keyword-only argument: 'lname'

In [ ]:
def fun(*a):


print(fun(1, 2, 3, 4,7953 ,34534)) 
print(fun(5, 10, 15))

IndentationError: expected an indented block after function definition on line 1 (3683211001.py, line 3)

In [31]:
def Add(a,b):
    return a+b

def Minus(a,b):
    return a-b

def Div(a,b):
    return a/b

def Mul(a,b):
    return(a*b)

sum = Add(5,2)
print(sum)

mins = Minus(5,2)
print(mins)

div = Div(5,2)
print(div)

mul = Mul(5,2)
print(mul)

7
3
2.5
10

In [32]:
def my_function(child3, child2, child1):
    print("The youngest child is", child3)


my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [37]:
def my_function(country = "<Country Not Found>"):
    print("I am from", country)


my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from <Country Not Found>
I am from Brazil