In [1]:
x = y = z = " Hello World"

In [2]:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)

apple

In [3]:
print('Hello', 'World')

Hello World

In [4]:
x = 'awesome'
def myfunc():
  global x
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is fantastic

In [5]:
print(int(35.88))

35

In [6]:
txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [7]:
print(f'The price is {2 + 3} dollars')

The price is 5 dollars

In [8]:
i = 1
while i <5:
    print(i)
    i += 1

print("else:", i)

1
2
3
4
else: 5

In [9]:
print("My Name is Apurba".islower())

False

In [10]:
name = input("Type your name: ")
print("Hello", name)

Hello Apurba

In [11]:
num_int = 123
num_str = "456"
num_str = int(num_str)
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'int'>
579

In [12]:
a = 50
b = 30

c = a
a = b
b = c

print(a)
print(b)

30
50

In [13]:
a = 50
b = 30

a, b = b, a

print(a)
print(b)

30
50

In [14]:
a = "Hello World"

a[0:-1]

'Hello Worl'

In [15]:
import math


print(math.floor(6.5))
print(math.ceil(6.5))

6
7

In [16]:
import calendar

year = 2025

print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [17]:
a = 9
b = 5

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [18]:
for x in 'Banana':
    print(x)

B
a
n
a
n
a

In [19]:
for x in range(0,5,4):
    print(x)

0
4

In [20]:
num = [30, 10, 70, 12]

for i, x in enumerate(num):
    print(i,x)

0 30
1 10
2 70
3 12

In [21]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [22]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
list5 = ["apple"]
string1 = "apple"
print(list1[0])
print(string1[0])

apple
a

In [23]:
list1 = ["Apple", "Banana", "Cherry", "Mango", "Guava"]

print(list1[0:2])
print(list1[2:])
print(list1[-1])
print(list1[-3:-1])

print(list1[0:5])
print(list1[0:5:2])


print(list1[-1:-2])
print(list1[-1:-2:-1])

['Apple', 'Banana']
['Cherry', 'Mango', 'Guava']
Guava
['Cherry', 'Mango']
['Apple', 'Banana', 'Cherry', 'Mango', 'Guava']
['Apple', 'Cherry', 'Guava']
[]
['Guava']

In [24]:
list1 = ["apple", "banana", "cherry", "mango", "orange"]
print(list1 + ["tomato", 50])
print(list1 * 3)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'orange', 'tomato', 50]
['apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange', 'apple', 'banana', 'cherry', 'mango', 'orange']
['apple', 'banana', 'cherry', 'mango', 'orange']

In [25]:
list1 = ["apple", "banana", "cherry", "mango", "orange"]
list1[0] = "tomato"
print(list1)

['tomato', 'banana', 'cherry', 'mango', 'orange']

In [26]:
fruits = ["cherry", "apple", "banana", "cherry"]
x = fruits.count("cherry")
print(x)

2

In [27]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [28]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

print(fruits + cars)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [29]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [30]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(2, "orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [31]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [32]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)


cars.sort(reverse=False)

['BMW', 'Ford', 'Volvo']

In [33]:
A = [[1, 4, 5, 12], 
    [-5, 8, 9, 0],
    [-6, 7, 11, 19]]

print("A =", A) 
print("A[1] =", A[1]) 
print("A[1][2] =", A[1][2])
print("A[0][-1] =", A[0][-1])

column = []        # empty list
for row in A:
    column.append(row[2])   

print("3rd column =", column)

A = [[1, 4, 5, 12], [-5, 8, 9, 0], [-6, 7, 11, 19]]
A[1] = [-5, 8, 9, 0]
A[1][2] = 9
A[0][-1] = 12
3rd column = [5, 9, 11]

In [34]:
A = [[1, 4, 5, 12], 
    [-5, 8, 6, 0],
    [-6, 7, 11, 19]]

A[1][2]

6

In [35]:
fruits = ("apple", "banana", "cherry")

green, yellow, red = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [36]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

green, yellow, *red = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [37]:
a = (8,9)
b = (9)

if a>b:
    print("a is bigger")
else: 
    print("b is bigger")

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [38]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [39]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [40]:
num1 ={1, 2, 3, 4, 5}
num2 ={4, 5, 6, 7}

print(num1 | num2)   #union
print(num1 & num2)   #intersection
print(num1 - num2)   #difference

{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

In [41]:
# sorting
aa = {100, 200, 500, 400, 300}
print(sorted(aa))

[100, 200, 300, 400, 500]

In [42]:
thisdict =	{
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [44]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict.get("Name", "Invalid Key"))

Invalid Key

In [45]:
thisdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict.items())
print(thisdict.keys())
print(thisdict.values())

dict_items([('brand', 'Ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])
dict_keys(['brand', 'electric', 'year', 'colors'])
dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

In [46]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [47]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [48]:
text = "The banana is common fruit of Bangladesh. It is grown in all the districts and all the seasons. Munsigonj and Narsingdi are famous for banana . banana has several varieties such as Sagore, Shabri, Chapa, Agniswar etc. It is very nutritious and sweet.Papaw is a delicious fruit.It keeps the liver function active. The papaw is grown in all the districts and in all seasons. The coconut is a common fruit of Bangladesh. It grows in all seasons. Its water is a sweet drink and its kernel is a tasty food. The mango , the orange , the lichi , the black-berry , the jack fruits, the pineapple etc. grow in different seasons."

fruits = ["banana", "Papaw", "coconut", "black-berry", "pineapple", "lichi", "orange", "mango"]

text = text.split(" ")

fruitList = []
for x in text:
    if x in fruits:
        fruitList.append(x)
print(fruitList)

['banana', 'banana', 'banana', 'coconut', 'mango', 'orange', 'lichi', 'black-berry', 'pineapple']

In [49]:
fruitList = set({})
for x in text:
    if x in fruits:
        fruitList.add(x)
print(fruitList)

{'orange', 'black-berry', 'lichi', 'banana', 'coconut', 'mango', 'pineapple'}

In [50]:
fruitList = {}
for x in text:
    if x in fruits:
        fruitList[x] = 1
print(fruitList)

{'banana': 1, 'coconut': 1, 'mango': 1, 'orange': 1, 'lichi': 1, 'black-berry': 1, 'pineapple': 1}

In [51]:
fruitList = {}
for x in text:
    if x in fruits:
        if x not in fruitList.keys():
            fruitList[x] = 1
        else:
            fruitList[x] += 1
print(fruitList)

{'banana': 3, 'coconut': 1, 'mango': 1, 'orange': 1, 'lichi': 1, 'black-berry': 1, 'pineapple': 1}

In [52]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [53]:
def my_function(fname):  #Parameters
    print("Good morning!", fname)

my_function("Emil")  #Arguments
my_function("Tobias")
my_function("Linus")

Good morning! Emil
Good morning! Tobias
Good morning! Linus

In [54]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
    print(fname,  lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [55]:
#You can also send arguments with the key = value syntax.
#This way the order of the arguments does not matter.

def my_function(child3, child2, child1):
    print("The youngest child is", child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [56]:
def my_function(country = "Norway"):
    print("I am from", country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [57]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [62]:
def add_and_multiple(n1,n2):
    sum = n1 + n2
    mult = n1 * n2
    return sum, mult

x, y = add_and_multiple(10,5)
print(x, y)

15 50

In [66]:
def Add(a, b):
    '''
    This will take two parameter
    Return value is integer
    '''
    return a + b


print(Add(10, 20))
print(Add.__doc__)
print(help(Add))

30

    This will take two parameter
    Return value is integer

Help on function Add in module __main__:

Add(a, b)
    This will take two parameter
    Return value is integer

None

In [67]:
print((lambda a : a + 10) (5))

15

In [68]:
x = lambda a : a + 10
print(x(5))

15

In [69]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [70]:
def cube(y):
    return y * y * y

print(cube(5))

# using the lambda function
lambda_cube = lambda y: y * y * y
print(lambda_cube(5))

125
125

In [71]:
def myfunc(a):
    return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(list(x))

[5, 6, 6]

In [72]:
def square(x):
    return x*x

num = [1, 2, 3, 4, 5]
result = list(map(square, num))

print(result)

[1, 4, 9, 16, 25]

In [73]:
def myFunc(x):
    if x < 18:
        return False
    else:
        return True

ages = [5, 12, 17, 18, 24, 32]

adults = list(filter(myFunc, ages))

print(adults)

[18, 24, 32]

In [74]:
num = [5, 12, 17, 18, 25, 32]

result = list(filter(lambda x: x%2==0, num))

print(result)
print(num)

[12, 18, 32]
[5, 12, 17, 18, 25, 32]