In [2]:
x = y = z = " Hello World"

In [3]:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)

apple

In [4]:
print('Hello', 'World')

Hello World

In [5]:
x = 'awesome'
def myfunc():
  global x
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is fantastic

In [6]:
print(int(35.88))

35

In [12]:
txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [13]:
print(f'The price is {2 + 3} dollars')

The price is 5 dollars

In [1]:
i = 1
while i <5:
    print(i)
    i += 1

print("else:", i)

1
2
3
4
else: 5

In [4]:
print("My Name is Apurba".islower())

False

In [1]:
name = input("Type your name: ")
print("Hello", name)

Hello Apurba

In [3]:
num_int = 123
num_str = "456"
num_str = int(num_str)
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'int'>
579

In [7]:
a = 50
b = 30

c = a
a = b
b = c

print(a)
print(b)

30
50

In [8]:
a = 50
b = 30

a, b = b, a

print(a)
print(b)

30
50

In [18]:
a = "Hello World"

a[0:-1]

'Hello Worl'

In [26]:
import math


print(math.floor(6.5))
print(math.ceil(6.5))

6
7

In [27]:
import calendar

year = 2025

print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [28]:
a = 9
b = 5

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [30]:
for x in 'Banana':
    print(x)

B
a
n
a
n
a

In [33]:
for x in range(0,5,4):
    print(x)

0
4

In [34]:
num = [30, 10, 70, 12]

for i, x in enumerate(num):
    print(i,x)

0 30
1 10
2 70
3 12

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry